.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 0 30% 0 0;
  cursor: pointer;
}

#pair {
  width: 90px;
}

#signals-label-time {
  width: 150px;
}

#signals-input-time {
  width: 90%;
  padding: 5px 10px;
}

#trade-select:hover ~ #trade-button, #trade-button:hover ~ #trade-select {
  box-shadow: none;
  transform: translateY(-2px);
}

#trade-button:active ~ #trade-select, #trade-select:active ~ #trade-button {
  transform: translateY(2px);
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
  
}
